/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10rem 0 2rem 0;
    bottom: 0px;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    background: #000000;
}

footer .logo {
    width: 60px;
    height: auto;
    padding: 0.5rem;
}

.modal-content{
    display: flex;
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

.footer-links {
    display: flex;
    gap: 0.5rem;
}

.footer-icone-social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.footer-icone-social-network .fa-brands{
    transform: scale(1.5);
    
}

.footer-icone-social-network a{
    color: rgba(255, 255, 255, 0.671);
}