/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5rem 0 2rem 0;
    bottom: 0px;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    background: #000000;
}

footer .logo {
    width: 60px;
    height: auto;
    padding: 0.5rem;
}

.modal-content{
    display: flex;
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

.logo-ridotto{
    display: none;
    
}