/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */

.hero-section {
    min-height: 545px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    webkit-box-shadow: inset 0 -10px 10px 0px rgba(0, 0, 0, 0.884);
    moz-box-shadow: inset 0 -10px 10px 0px rgba(0, 0, 0, 0.884);
    box-shadow: inset 0 -10px 10px 0px rgba(0, 0, 0, 0.884);
    position: relative;
    padding: 0 1.5rem;
    margin-bottom: 5rem;
}

.container-checkout, .nav-div-icons{
    position: relative;
    z-index: 1;
}

.container-checkout{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(1, 1, 4, 0.418);
    z-index: 0;
}
.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    margin: 7rem 1rem 2rem 1rem;
    text-align: center;
    color: #fff;
    z-index: 200;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-text h4 {
    text-shadow: -10px 1px 13px rgba(0,0,0,1) !important;
}


#containerBiglietti li{
    background-color: #940F00;
    background: #c0473953;

}