/* -------------------------------------------------------------------------- */
/*                          serchbar-header                                   */
/* -------------------------------------------------------------------------- */

.searchbar-header {
    width: 20vw;
}


.searchbar-header span{
    cursor: pointer;
}

.searchbar-header * {
    background: var(--transparent-btn);
    backdrop-filter: blur(50%);
    color: rgb(224, 219, 219);
    border: none;
    outline: none;
    border-radius: 5rem;
    transition: all 0.2s ease-in-out;
    height: 40px;
}

#inputGroup-sizing-default {
    align-items: center;
    padding: 0;
}
.input-group-text {
    background-color: var(--transparent-btn);
    transform: translateX(-1px); /* Altrimenti i due contenitori si accavallano creando una linea verticale tra i due */
}

.fa-magnifying-glass {
    padding: 0.5rem;
    transform: translateX(10px) translateY(5px);
}

.searchbar-header input::placeholder {
    color: rgb(207, 192, 192);
    font-weight: 550;
}

.searchbar-header input:focus,
.searchbar-header:focus-within .input-group-text { /* -within per selezionare l'elemento precedente, ovvero .input-group-text */
    background-color: #807b7a53;
    box-shadow: none;
}


.div-btn-searchbar * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transform: scale(1.3);
}






@media screen and (max-width:991px) {
    .searchbar-header * {
        display: none;
    }
}





/* -------------------------------------------------------------------------- */
/*                           serchbar-modal                                   */
/* -------------------------------------------------------------------------- */








.searchbar-modal {
    width: 100%;
    height: 60px;
}

.searchbar-modal input::placeholder {
    color: rgb(224, 219, 219) !important;
    font-weight: 550;
}

.searchbar-modal * {
    background: #9924168e;
    color: rgb(224, 219, 219) !important;
    border: none;
    transition: all 0.2s ease-in-out;
    border-radius: 3rem;
}
.searchbar-modal input:focus,
.searchbar-modal:focus-within .input-group-text { /* -within per selezionare l'elemento precedente, ovvero .input-group-text */
    background-color: #ac1c0ca1;
    box-shadow: none;
}

.input-group-text {
    transform: translateX(-1px); /* Altrimenti i due contenitori si accavallano creando una linea verticale tra i due */
}

.searchbar-modal #inputGroup-sizing-default {
    padding: 0;
}
.searchbar-modal .fa-magnifying-glass {
    transform: translateX(8px);
    z-index: 20;
}

@media screen and (min-width: 992px) {
    .div-btn-searchbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .form-control {
        padding-left: 0.8rem !important;
    }
}